<div style="position:fixed; width:100%; background-color:white; z-index:100;">
  <h1 style="color:grey">Lupo</h1>
  <div class="profile-header">
    <h2>Profile</h2>
    <%= image_tag("photo.jpg", class: "profile-photo") %>
    <h3>Jack's Referral Codes</h3>  
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="codes-container">
  <table>
    <tr>
      <td>
        <a href="https://www.uber.com/invite/geraldd368ue">
          <img src="http://images.apple.com/autopush/us/itunes/charts/free-apps/images/2015/10/21820814aa34cced0173a250c7f3c3023bc92d28a11dcdbb351f42f3273cd64c_.jpg">
        </a>
      </td>
      <td>
        <a href="https://www.uber.com/invite/geraldd368ue">
          Uber
        </a>
      </td>
      <td><div class="code-container">geraldd368ue</div></td>
      <td>
        <i class="fa fa-clipboard" class="code-copy" clip-copy="'geraldd368ue'"></i>
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://www.lyft.com/drivers/GERALD687846">
          <img src="https://yt3.ggpht.com/-Mhfw0UcipZE/AAAAAAAAAAI/AAAAAAAAAAA/qOZG7_5ftyY/s100-c-k-no/photo.jpg">
        </a>
      </td>
      <td>
        <a href="https://www.lyft.com/drivers/GERALD687846">
          Lyft
        </a>
      </td>
      <td><div class="code-container">GERALD687846</div></td>
      <td>
        <i class="fa fa-clipboard" class="code-copy" clip-copy="'GERALD687846'"></i>
      </td>
    </tr>
    <tr>
      <td><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSBcqrZGK0WYKSCt0TPSINKCP7OxPO-u9mwOnWgBrA75Dk4UJXIVXQymYU"></td>
      <td>Facebook</td>
    </tr>
    <tr>
      <td><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSBcqrZGK0WYKSCt0TPSINKCP7OxPO-u9mwOnWgBrA75Dk4UJXIVXQymYU"></td>
      <td>Facebook</td>
    </tr>
    <tr>
      <td><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSBcqrZGK0WYKSCt0TPSINKCP7OxPO-u9mwOnWgBrA75Dk4UJXIVXQymYU"></td>
      <td>Facebook</td>
    </tr>
    <tr>
      <td><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSBcqrZGK0WYKSCt0TPSINKCP7OxPO-u9mwOnWgBrA75Dk4UJXIVXQymYU"></td>
      <td>Facebook</td>
    </tr>
    <tr>
      <td><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSBcqrZGK0WYKSCt0TPSINKCP7OxPO-u9mwOnWgBrA75Dk4UJXIVXQymYU"></td>
      <td>Facebook</td>
    </tr>
    <tr>
      <td><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSBcqrZGK0WYKSCt0TPSINKCP7OxPO-u9mwOnWgBrA75Dk4UJXIVXQymYU"></td>
      <td>Facebook</td>
    </tr>
    <tr>
      <td><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSBcqrZGK0WYKSCt0TPSINKCP7OxPO-u9mwOnWgBrA75Dk4UJXIVXQymYU"></td>
      <td>Facebook</td>
    </tr>
    <tr>
      <td><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSBcqrZGK0WYKSCt0TPSINKCP7OxPO-u9mwOnWgBrA75Dk4UJXIVXQymYU"></td>
      <td>Facebook</td>
    </tr>
    <tr>
      <td><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSBcqrZGK0WYKSCt0TPSINKCP7OxPO-u9mwOnWgBrA75Dk4UJXIVXQymYU"></td>
      <td>Facebook</td>
    </tr>
  </table>
</div>