/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap";
 @import "font-awesome";

 body {
  margin: 0;
 }

.profile-photo {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  color: grey
}

.codes-container {
  width: 100%;
  padding-left: 40%;
  padding-right: 40%;
  
  table {
    td {
      padding: 20px;
    }
  }

  img {
    height: 50px;
    width: 50px;
    border-radius:10px;
  }
}

.code-container {
  height: 40px;
  padding: 10px;
}

.code-copy {
  i {
    cursor: pointer;
  }
}

.code-container {
  background-color: #E5E4E2;
}